<p id="notice"><%= notice %></p>

<h1>Список вагонов</h1>

<table>
  <thead>
  <tr>
    <th>Номер</th>
    <th>Тип</th>
    <th>Количество верхних полок</th>
    <th>Количество нижних полок</th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @wagons %>
  </tbody>
</table>

<br>

<%= link_to 'Создать', new_wagon_path %>
